* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #eee;
  width: 100%;
}
.container {
  width: 90%;
  margin: auto;
}
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 40px;
}
.logo h2 {
  font-size: 22px;
  margin-left: 10px;
}
.search {
  display: flex;
  padding: 10px;
  background-color: #fff;
  border-radius: 50px;
  width: 40%;
}
.search i {
  color: #a8a5a5;
  font-size: 20px;
  margin-right: 5px;
}
.search input {
  width: 90%;
  border: none;
  outline: none;
  background-color: #ffffff;
}
.img {
  display: flex;
  align-items: center;
}
.img img {
  width: 50px;
}
.con-prof {
  width: 25%;
  display: flex;
  align-items: center;
}
.con-prof .noti {
  margin-right: 10px;
}
.con-prof .noti i {
  margin-right: 8px;
  color: #a8a5a5;
  font-size: 25px;
  position: relative;
  cursor: pointer;
}
.con-prof .noti i::after {
  position: absolute;
  content: "2";
  width: 12px;
  height: 12px;
  padding: 5px;
  font-size: 15px;
  background-color: rgb(0, 85, 255);
  color: white;
  border-radius: 50%;
  top: -10px;
  right: -10px;
  text-align: center;
}

.con-prof .img img {
  margin-right: 10px;
  border-radius: 50%;
}
.img .text h3 {
  font-size: 15px;
}
.con-prof p {
  color: #a8a5a5;
}
.container-m {
  height: 90vh;
  margin-top: 30px;
  width: 15%;
}
.container-m .minu .f-minu div:first-child {
  background-color: blue;
  color: #fff;
}

.container-m .minu .f-minu div {
  margin-bottom: 10px;
  display: flex;
  align-items: self-start;
  justify-content: start;
  border-radius: 15px;
  padding: 15px 10px;
  color: #a8a5a5;
  transition: 0.4s;
  cursor: pointer;
}
.container-m .minu .f-minu div:hover {
  background-color: blue;
  color: #fff;
}
.container-m .minu .f-minu div i {
  margin-right: 10px;
}
.container-m .minu .f-minu div .noti-mess {
  background-color: blue;
  color: #fff;
  padding: 5px 8px;
  border-radius: 20px;
  font-size: 13px;
  margin-left: 15px;
}
.container-m .minu {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-m .minu .logout {
  border-radius: 15px;
  padding: 15px 10px;
  color: #a8a5a5;
  transition: 0.4s;
}
.container-m .minu .logout i {
  padding-right: 10px;
}
.container-m .minu .logout:hover {
  background-color: blue;
  color: #fff;
}
.section {
  display: flex;
}
.container-b {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding: 0 20px;
}
.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}
.statistics .total,
.invoices,
.clients,
.loyalty {
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container-b .statistics .icon {
  align-items: flex-start;
}
.container-b .statistics .icon span {
  color: #a8a5a5;
}
.container-b .statistics .icon span {
  font-size: 15px;
  margin-left: 10px;
}
.container-b .statistics .num {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container-b .statistics .num p {
  color: rgb(30, 100, 30);
  font-size: 10px;
  padding: 5px;
  background-color: rgba(79, 214, 79, 0.73);
  border-radius: 7px;
}
.container-b .statistics .total .icon i {
  color: rgb(249, 92, 14);
}
.container-b .statistics .total .num h3 span {
  color: #a8a5a5;
}
.container-b .statistics .invoices .icon i {
  color: rgb(13, 179, 13);
}
.container-b .statistics .clients .icon i {
  color: rgb(13, 99, 179);
}
.container-b .statistics .loyalty .icon i {
  color: rgb(235, 32, 32);
}
.container-b .statistics .loyalty .num p {
  background-color: rgba(239, 54, 54, 0.732);
  color: rgb(145, 17, 17);
}

.monthly-re {
  display: flex;
  gap: 20px;
  width: 100%;
}
.monthly-re .monthly {
  border-radius: 15px;
  background-color: #fff;
  padding: 30px;
  width: 80%;
}
.monthly-re .monthly .text h2 {
  margin: 15px 0;
}
.monthly-re .monthly .text h2 span {
  color: #a8a5a5;
}
.monthly-re .monthly .analysis {
  display: flex;
  justify-content: space-around;
  align-items: end;
  gap: 15px;
}
.monthly-re .monthly .analysis .culom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #a8a5a5;
}
.monthly-re .monthly .analysis .culom div {
  width: 40px;
  height: 100px;
  background-color: #a8a5a5;
  border-radius: 10px;
}
.monthly-re .monthly .analysis .culom .active {
  position: relative;
  background-color: blue;
  height: 130px;
}
.monthly-re .monthly .analysis .culom .active::before {
  content: "$1500";
  position: absolute;
  background-color: rgb(53, 51, 51);
  color: white;
  padding: 10px;
  border-radius: 7px;
  top: -50px;
}
.monthly-re .new {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  background-color: blue;
  color: #fff;
  border-radius: 15px;
  width: 25%;
}
.monthly-re .new .new-btn {
  color: blue;
  background-color: #fff;
  padding: 8px;
  border-radius: 15px;
  width: 30px;
}
.monthly-re .new h2 {
  margin: 20px 0;
}
.monthly-re .new p {
  margin: 15px 0;
}
.monthly-re .new .download {
  text-align: center;
  background-color: #fff;
  color: blue;
  border-radius: 15px;
  padding: 20px 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.activities {
  display: flex;
  gap: 20px;
}
.monthly-re .new .download:hover {
  scale: 0.9;
}
.transfer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  width: 93%;
  background-color: #fff;
  border-radius: 15px;
}
.transfer input {
  padding: 10px;
  outline: none;
  border: 1px solid blue;
  border-radius: 10px;
  width: 35%;
}
.transfer button {
  background-color: blue;
  outline: none;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 13%;
  transition: 0.4s;
}
.transfer i {
  font-size: 30px;
  color: blue;
}
.transfer button:hover {
  background-color: rgb(28, 28, 116);
  scale: 1.1;
}
.acti {
  background-color: #fff;
  padding: 30px;
  width: 25%;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: auto;
}
.activities .card {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.activities .card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.activities .card .text .new {
  color: rgb(18, 191, 18);
  font-weight: 700;
  margin-bottom: 10px;
}
.activities .card .text .new i {
  margin-right: 8px;
}
.activities .card .text p {
  margin-bottom: 10px;
}
.activities .card .text .user {
  font-weight: 600;
}
.activities .card .text .date {
  color: #a8a5a5;
}
.activities .recent {
  background-color: #fff;
  width: 80%;
  border-radius: 15px;
  padding: 30px;
  height: fit-content;
  margin-bottom: 20px;
}
.activities .recent h2 {
  margin-bottom: 30px;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
  color: #a8a5a5;
}
th,
td {
  padding: 5px;
}
tbody td {
  font-weight: 700;
  height: 40px;
}
.activities .recent table .status {
  font-size: 14px;
  padding: 8px;
  border-radius: 20px;
  background-color: rgba(45, 234, 24, 0.757);
  color: rgb(10, 98, 10);
}
@media (max-width: 991px) {
  .container-m {
    display: none;
  }
  .statistics {
    width: 100%;
  }
  .monthly-re {
    flex-direction: column;
  }
  .monthly-re .monthly {
    width: 99%;
  }
  .monthly-re .new {
    width: 100%;
  }
  .transfer {
    width: 99%;
  }
  .activities {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .activities .recent {
    width: 100%;
  }
  .acti {
    width: 100%;
  }
}
@media (max-width: 669px) {
  .container {
    width: 99%;
    margin: auto;
  }
  header {
    width: 100%;
    justify-content: space-around;
  }
  .logo img {
    width: 30px;
  }
  .logo h2 {
    font-size: 15px;
  }
  .con-prof .img img {
    width: 40px;
  }
  .con-prof .noti i {
    font-size: 20px;
  }
  .statistics {
    flex-direction: column;
  }
  .total.invoices.clients.loyalty {
    width: 100%;
  }
  .monthly-re .monthly .analysis .culom div {
    width: 30px;
  }
}
@media (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container {
    width: 98%;
    margin: auto;
  }
  header {
    width: 100%;
  }
  .search {
    display: none;
  }
  .img .text h3 {
    font-size: 12px;
  }
  .statistics {
    width: 90%;
  }
  .monthly-re .monthly {
    width: 86%;
  }
  .monthly-re .new {
    width: 90%;
  }
  .monthly-re .monthly .analysis {
    flex-wrap: wrap;
    justify-content: center;
  }
  .transfer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 86%;
    align-items: center;
  }
  .transfer input,
  i,
  button {
    width: 100%;
  }
  .transfer button {
    width: 80px;
  }
  .activities .recent {
    padding: 10px;
    width: 95%;
  }
  .acti {
    width: 86%;
  }
  table {
    width: 90%;
    text-align: center;
    margin: 5px 0;
  }
}
